{% extends 'station/station_dashboard.html' %}
{% block content %}
<div class="contact-top">
    <h3>Closed Cases</h3>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla. Sed cursus ante dapibus diam. Sed nisi. Nulla. </p> -->
</div>	
 <div class="contact-bottom">
    <div class="row">
        {% for closed in closed %}
        <div class="col-sm-6">
          <div class="card " style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;width: 70%; text-align: center; padding: 1px;">
            <div class="card-body">
                <h5 class="card-title"><b>Complaintid: {{closed.complaintid}}</b></h5>
                <h5 class="card-title"><b>Mode: {{closed.crime_mode}}</b></h5>
                <p class="card-text">Description: {{closed.crime_desc}}</p>
                <p class="card-text">Date: {{closed.complaint_date}}</p>
                <br>
                <h5 class="card-title"><b>Victim Name: {{closed.public.f_name}} {{closed.public.l_name}}</b></h5>
                <p class="card-text">Victim Phone: {{closed.public.phone}}</p>
                <p class="card-text">Victim Email: {{closed.public.email}}</p>
                <p class="card-text">Victim District: {{closed.public.district}}</p>
                <br>
                <h5 class="card-title"><b>Accused Name: {{closed.criminal.fname}} {{closed.criminal.lname}}</b></h5>
                <p class="card-text">Accused Father's Name: {{closed.criminal.father_name}}</p>
                <p class="card-text">Accused Address: {{closed.criminal.address}}</p>
                <p class="card-text">Accused Age & Sex: {{closed.criminal.age}},{{closed.criminal.sex}}</p>
                <br>
                {% if closed.witness_fname %}
                    <h5 class="card-title"><b>Witness Name: {{closed.witness_fname}} {{closed.witness_lname}}</b></h5>
                    <p class="card-text">Witness Phone: {{closed.witness_phone}}</p>
                    <p class="card-text">Witness Email: {{closed.witness_email}}</p>
                    <p class="card-text">Witness District: {{closed.witness_district}}</p>
                {% else %}
                <h2>Witness Details Not Found</h2>
                {% endif %}
                <br>
                <h5 class="card-title"><b>Arrested Station Name: {{closed.station.station_name}}</b></h5>
                <p class="card-text">Station Phone: {{closed.station.phone}}</p>
                <p class="card-text">Station Office Address: {{closed.station.office_address}}</p>
                <p class="card-text">Station Email: {{closed.station.email}}</p>
                <br>
                {% if closed.fir_upload %}
                <a href="../../static/media/{{closed.fir_upload}}" download="">Download FIR</a>
              
                {% else %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    UPLOAD FIR
                    <input type="file" name="fir_upload">
                    <input type="hidden" name="compid" value="{{closed.id}}"><!--passing pk of corresponding complaint table-->
                    <button type="submit">upload</button>
                </form>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="/station-viewcomplaints">back</a>
</div>
{% endblock %}